/* styles.css */
body {
    font-family: Trebuchet MS, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #fa0707;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    padding: 20px;
  }
  
  .about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .content {
    flex: 1;
  }
  
  .image-container {
    flex: 1;
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  
  .image-container img:hover {
    transform: scale(1.1);
  }
  
  footer {
    background-color: #f70000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0; /* Prevent footer from shrinking */
  }
  
  .material-image {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    filter: invert(100%); /* Invert the colors to make it white */
  }

  /* styleab.css */
.underline {
    text-decoration: underline;
  }
  
/* styleab.css */

button {
    font-family: Trebuchet MS, sans-serif;
    background-color: transparent;
    border: 2px solid rgb(255, 0, 0); /* Adding a border */
    border-radius: 10px; /* Making the button rounded */
    color: rgb(0, 0, 0); /* Changing the text color to white */
    cursor: pointer;
    padding: 10px 15px; /* Adding some padding for better appearance */
    transition: background-color 0.3s, color 0.3s; /* Adding transition for smoother hover effect */
  }
  
  button:hover {
    background-color: rgb(255, 0, 0); /* Changing background color on hover */
    color: white; /* Changing text color on hover */
    text-decoration: none; /* Remove underline on hover */
  }
  
  .description-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adding shadow */
    transition: background-color 0.3s, color 0.3s; /* Adding transition */
  }
  
  .description-box:hover {
    background-color: red;
    color: white;
  }

  /* styleab.css */

.description-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, color 0.3s;
  }
  
  .description-box:hover {
    background-color: red;
    color: rgb(255, 255, 255);
  }
  
  button {
    background-color: transparent;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px 20px;
    margin-right: 10px; /* Add some spacing between buttons */
    transition: background-color 0.3s, color 0.3s;
  }
  
  button:hover {
    background-color: rgb(255, 0, 0);
    color: white;
    text-decoration: none;
  }
  